<span class="meta-item views-counter" title="Views">
  <svg class="entry-icon" aria-hidden="true"><use href="{{#src}}/img/icons.svg{{/src}}#eye"/></svg>
  <span class="views-count">{{count}}</span>
  <span class="views-label">Views</span>
</span>
