{{<layouts/default}}
{{$metaDescription}}
{{#entry.frontMatter.summary}}<meta name="description" content="{{.}}">{{/entry.frontMatter.summary}}
{{/metaDescription}}
{{$metaSocial}}
<meta property="og:type" content="{{ogType}}">
<meta property="og:title" content="{{entry.frontMatter.title}} - {{blog.name}}">
<meta property="og:description" content="{{#entry.frontMatter.summary}}{{.}}{{/entry.frontMatter.summary}}{{^entry.frontMatter.summary}}{{blog.description}}{{/entry.frontMatter.summary}}">
<meta property="og:url" content="{{canonicalUrl}}">
<meta property="og:image" content="{{ogImage}}">
<meta property="og:site_name" content="{{blog.name}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{blog.xHandle}}">
<meta name="twitter:creator" content="{{blog.xHandle}}">
<link rel="canonical" href="{{canonicalUrl}}">
{{/metaSocial}}
{{$content}}
{{> fragments/entry-detail}}
{{/content}}
{{/layouts/default}}
