{{<layouts/default}}
{{$content}}
<section class="hero">
  <h1 class="hero-title">Tags</h1>
  <p class="hero-sub">Browse all {{tagCount}} tags. Click any tag to see related entries.</p>
</section>
{{> fragments/tag-list}}
{{/content}}
{{/layouts/default}}
